**/.DS_Store
**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

.dvc/
.github/
data/
docs/
figures/
models/
notebooks/
prod/
references/
reports/
src/
tests/
workflow/
.dvcignore
.gitignore
dev_requirements.txt
dvc.lock
dvc.yaml
init_setup.sh
Makefile
params.yaml
pyproject.toml
*.md
requirements.txt
setup.py
test_environment.py
tox.ini
